.our_team-block {
  height: 680px;
}

.our_team-container:before {
  width: 100%;
  height: 500px;
  content: "";
  background-color: #f9f9f9;
  display: block;
  z-index: -1;
  position: absolute;
  right: 1050px;
  bottom: 0;
}

.our_team-container {
  padding-left: 170px;
  display: flex;
  position: relative;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.our_team-text{
  top: 50px;
  position: relative;
}
.number_block-our_team {
  font-size: 20px;
  font-weight: 800;
}
.main_title-our_team {
  font-size: 50px;
  width: 250px;
  font-weight: 800;
}
.subtitle-our_team {
  font-size: 12px;
  width: 360px;
  margin: 0;
  font-weight: 400;
}
.our_team-slider {
  height: 100%;
  width: 705px;
}

.slid-window{
  width: 705px;
  height: 100%;
  position: relative;
}

.main-photo {
  width: 435px;
  height: 645px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.main-photo img {
  height: 100%;
}

.subphoto {
  position: absolute;
  bottom: -1px;
  right: 0;
}

.subphoto-block {
  width: 287px;
  height: 437px;
}

.profecion {
  font-size: 11px;
  color: #a6a6a6;
  margin-left: 70px;
  margin-bottom: 0;
  font-weight: 500;
}

.name_person {
  margin-top: 12px;
  font-size: 21px;
  font-weight: 800;
  margin-bottom: 25px;
  margin-left: 70px;
}
.line_slider{
  width: 95px;
  height: 1px;
  margin-left: 23px;
  margin-bottom: 47px;
  -webkit-transform: rotate(90deg) translateX(48px);
  -moz-transform: rotate(90deg) translateX(48px);
  -ms-transform: rotate(90deg) translateX(48px);
  -o-transform: rotate(90deg) translateX(48px) ;
  transform: rotate(90deg) translateX(48px);
  display: block;
  background-color: #8e8e8e;
}
.next_slider{
  bottom: 0;
  position: absolute;
  background-color: black;
  right: 0;
  width: 185px;
  border: none;
  height: 60px;
  cursor: pointer;
  font-size: 11px;
  color: #a6a6a6;
}
.number_slider{
  position: absolute;
  top: 60px;
  left: 0px;
}
.main_number{
  font-size: 48px;
  color: black;
  font-weight: 700;
}
.number_all{
  font-size: 27px;
  font-weight: 700;
  display: inline-block;
  color: #a6a6a6;
  -webkit-transform: translateY(9px);
  -moz-transform: translateY(9px);
  -ms-transform: translateY(9px);
  -o-transform: translateY(9px);
  transform: translateY(9px);
}
.slick-slide img {
  height: 100%;
}
@media (min-width: 320px) and (max-width: 767px){
  .our_team-block{
    height: auto;
  }
  .our_team-text{
    top: 0;
    margin-top: 85px;
    margin-bottom: 45px;
    padding-left: 45px;
    width: 100%;
  }
  .number_block-our_team{
    font-size: 16px;
  }
  .main_title-our_team{
    font-size: 25px;
  }
  .subtitle-our_team{
    padding-right: 70px;
  }
  .number_slider{
    display: none;
  }
  .line_slider{
    display: none;
  }
  .main-photo{
    width: 100%;
    max-width: 435px;
    margin: 0 auto;
    height: auto;
  }
  .main-photo img{
    width: 100%;
  }
  .profecion{
    margin-top: 25px;
    margin-left: 45px;
  }
  .name_person{
    margin-left: 45px;
  }
  .subphoto{
    position: relative;
  }
  .subphoto-block{
    display: none;
  }
  .our_team-container{
    flex-direction: column;
    padding-left: 0;
    justify-content: space-between;
  }
  .our_team-slider{
    width: 100%;
  }
  .subtitle-our_team{
    width: 100%;
    max-width: 400px;
  }
  .slick-next, .slick-prev{
    display: none!important;
  }
}
@media (min-width: 1024px) and (max-width: 1280px){
  .our_team-slider{
    width: 480px;
    margin-top: 110px;
  }
  .main-photo{
    width: 300px;
    height: 454px;
  }
  .subphoto-block{
    width: 190px;
    height: 290px;
  }
  .slick-slide img{
    height: 100%;
  }
  .name_person{
    font-size: 19px;
    margin-left: 60px;
    margin-right: 10px;
  }
  .slid-window{
    height: 490px;
  }
  .our_team-block{
    height: 570px;
    margin-bottom: 50px;
  }
  .main_title-our_team{
    font-size: 40px;
    margin: 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .our_team-container{
    padding-left: 55px;
  }
  .our_team-container::before{
    right: 645px;
  }
  .main_title-our_team{
    font-size: 36px;
  }
  .subtitle-our_team{
    width: 230px;
  }
  .main-photo{
    width: 275px;
    height: 400px;
  }
  .subphoto-block{
    width: 190px;
    height: 290px;
  }
  .slick-slide img{
    width: 100%;
  }
  .slid-window{
    height: 450px;
    overflow: hidden;
    width: 410px!important;
    margin-top: 70px;
  }
  .slick-initialized .slick-slide{
    width: 425px!important;
  }
  .profecion{
    font-size: 11px;
    text-align: right;
    margin-left: 55px;
  }
  .name_person{
    text-align: right;
    font-size: 15px;
  }
  .slick-list{
    overflow-y: visible;
  }
  .next_slider{
    right: 85px;
  }
  .our_team-block {

    height: auto;
    padding-bottom: 90px;

  }
  .main_number{
    font-size: 30px;
  }
  .line_slider{
    margin-left: 129px;
    width: 60px;
    margin-bottom: 44px;
    transform: rotate(90deg) translateX(27px);
  }
}