.services_container{
  padding: 50px 45px;
}
.services-header{
  position: relative;
}
.services_header_text{
  width: 380px;
}
.number_block-services{
  font-size: 22px;
  font-weight: 800;
}
.main_title-services{
  font-size: 50px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 25px;
}
.subtitle-services{
  font-size: 12px;
  font-weight: 400;
}
.opacity_title{
  font-size: 142px;
  font-weight: 800;
  color: #F0F0F0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.services-content{
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.services-item{
  width: 385px;
  margin-bottom: 60px;
}
.services-item-title{
  font-size: 14px;
  padding-bottom: 25px;
  margin-top: 0;
  position: relative;
}
.services-item-title:after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 85px;
  height: 1px;
  background-color: #9A9A9A;
}
.services-item-text{
  font-size: 11px;
  margin-top: 25px;
  min-height: 40px;
  white-space: pre-wrap;
  margin-bottom: 30px;
}
.services-item{
  height: 520px;
}
.serviced-item-block{
  position: relative;
  background-color: grey;
  width: 100%;
  height: 380px;
}
.serviced-item-block img{
  width: 100%;
  height: 100%;

}
.price{
  width: 85px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  font-size: 21px;
  font-weight: 800;
}
.services-item-feedback{
  display: flex;
  height: 380px;
  flex-direction: column;
  justify-content: center;
}
.services-item-title-feedback{
  margin-bottom: 25px;
  padding-bottom: 0;
}
.services-item-title-feedback:after{
  display: none;
}
.services-item-text-feedback{
  margin-top: 0;
  width: 270px;
}
.services-item-button-feedback{
  width: 150px;
  height: 40px;
  background-color: black;
  color: #787878;
  border: none;
  font-size: 11px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .opacity_title {
    display: none;
  }
  .services_header_text {
    width: 100%;
    max-width: 380px;
    padding-left: 45px;
  }
  .services_container {
    padding: 0;
  }
  .number_block-services {
    font-size: 16px;
  }
  .main_title-services {
    margin: 30px 0;
    font-size: 25px;
  }
  .subtitle-services {
    font-size: 11px;
  }
  .services-item-title {
    padding-left: 45px;
  }
  .services-item-text {
    padding-right: 10px;
    padding-left: 45px;
    white-space: normal;
  }
  .services-item-title::after {
    left: 45px;
  }
  .services-item {
    height: auto;
    width: 100%;
    max-width: 385px;
  }
  .serviced-item-block {
    height: auto;
  }
  .services-content {
    justify-content: center;
  }
}
  @media (min-width: 450px) and (max-width: 767px){
    .services-item-text{
      padding-left: 0;
    }
    .services-item-title{
      padding-left: 0;
    }
    .services-item-title::after{
      left: 0;
    }
    .services-item-button-feedback{
      margin-left: 0;
    }
  }
@media(min-width: 1024px) and (max-width: 1280px){
  .opacity_title{
    font-size: 87px;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .opacity_title{
    display: none;
  }
  .main_title-services{
    font-size: 36px;
    margin-top: 25px;
  }
  .services-item{
    width: 45%;
    height: auto;
  }
  .services-item-text{
    white-space: normal;
    min-height: 50px;
  }
  .serviced-item-block{
    height: 300px;
  }
}
