footer{
  padding: 100px 0 125px;
}
.footer-number{
  font-size: 20px;
  font-weight: 800;
}
.footer-title{
  font-size: 50px;
  margin-top: 45px;
  margin-bottom: 40px;
  font-weight: 800;
}
.footer_container{
  padding-left: 454px;
}