.portfolio_container{
  padding: 55px 45px;
}
.portfolio-header{
  display: flex;
  margin-bottom: 70px;
}
.portfolio_category-ul{
  width: 175px;
  padding: 0;
  margin-left: 125px;
  list-style: none;
}
.filter-button{
  width: 100%;
  line-height: 20px;
  cursor: pointer;
  border: none;
  text-align: right;
  font-size: 13px;
  opacity: 0.5;
  background-color: transparent;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;

}
.filter-button:hover{
  opacity: 1;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}
.portfolio_header_text{
  width: 380px;
  margin-left: 185px;
}
.number_block-portfolio{
  font-size: 22px;
  font-weight: 800;
}
.main_title-portfolio{
  font-size: 50px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 25px;
}
.subtitle-portfolio{
  font-size: 12px;
  font-weight: 400;
}
.portfolio-item:nth-of-type(1) { grid-area: item1; }
.portfolio-item:nth-of-type(2) { grid-area: item2; }
.portfolio-item:nth-of-type(3) { grid-area: item3; }
.portfolio-item:nth-of-type(4) { grid-area: item4; }
.portfolio-item:nth-of-type(5) { grid-area: item5; }
.portfolio-item:nth-of-type(6) { grid-area: item6; }
.portfolio-item:nth-of-type(7) { grid-area: item7; }
.grid-container {
  display: grid;
  grid-template-areas:
          'item1 item2 item3 item3'
          'item4 item2  item5 item6';
  grid-gap: 20px;
  padding: 10px;
}
.grid-container > div {
  background-color: grey;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  position: relative;
  min-height: 280px;
  overflow: hidden;
}
.grid-container > div img{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: grey;
  left: 0;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .portfolio_container{
    padding: 0px;
    margin-top: 60px;
  }
  .portfolio_category{
    display: none;
  }
  .portfolio_header_text {
    width: 100%;
    margin-left: 45px;
  }
  .number_block-portfolio{
    font-size: 16px;
  }
  .main_title-portfolio{
    margin: 30px 0;
    font-size: 25px;
  }
  .grid-container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .grid-container > div{
    max-width: 350px;
    margin: 10px auto;
    width: 100%;
  }
  .subtitle-portfolio{
    padding-right: 15px;
    max-width: 400px;
  }
  .services-item-button-feedback{
    margin-left: 45px;
  }
}
@media(min-width: 1024px) and (max-width: 1280px){
  .grid-container{
    grid-template-areas: 'item1 item2 item2' 'item3 item4 item5' 'item6 item4 item7';
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .portfolio_category-ul{
    margin-left: 0;
    margin-top: 45px;
  }
  .portfolio_header_text{
    width: auto;
    margin-left: 145px;
  }
  .main_title-portfolio{
    font-size: 36px;
    margin-top: 16px;
  }
  .subtitle-portfolio{
    font-size: 11px;
  }
  .portfolio-item:nth-of-type(7){
    grid-area: item7;
  }
  .grid-container{
    grid-template-areas: 'item1 item2 item2' 'item3 item4 item5' 'item6 item4 item7';
  }
  .grid-container > div{
    min-height: 215px;
  }
}
