*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.menu_column{
    position: fixed;
    top: 0;
    left: calc((100% - 1280px) / 2 + 15px );
    bottom: 0;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    justify-content: center;
    list-style: none;
}
.column_link{
    color: #979797;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0;
    display: block;
}
.column_link.active{
    color: #010101;
    position: relative;
}
.menu_column li:nth-of-type(1) .active{
    color: white;
}
.menu_column li:nth-of-type(1) .active:after{
    background-color: white;
}
.column_link:after{
    height: 0px;
    margin: 0 auto;
    content: "";
    transition: all 1s ease;
    width: 1px;
    background-color: #949C9C;
    display: block;
}
.active.column_link:after{
    height: 80px;
    margin: 20px auto;
    content: "";
    width: 1px;
    background-color: #949C9C;
    display: block;
    transition: all 1s ease;
}
.slick-next, .slick-prev{
    display: none!important;
}
.feedback {
    height: 50px;
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding-right: 53px;
}

.feedback_button {
    height: 30px;
    border: none;
    display: flex;
    background-color: transparent;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.burger_button {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 13px;
    background-color: transparent;
    border: none;
}

.burger_button span {
    width: 25px;
    height: 1px;
    background-color: white;
    display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
    .container{
        width: 100%;
    }
    .burger_button{
        display: flex;
    }
    nav{
        display: none;
    }
    .feedback{
        display: flex;
    }
    .feedback {
        padding-right: 0;
    }

    .hamburger_content {
        padding-top: 85px;
        padding-left: 0;
    }

    .hamburger_block {
        width: 100%;
    }

    .close {
        right: 40px;
    }

    .hamburger_content ul {
        padding: 0;
    }

    .menu_item {
        font-size: 25px;
        line-height: 40px;
    }

    .call {
        width: 90%;
        padding: 20px;
    }

    .call_block {
        height: 100vh;
    }
}
@media (min-width: 1024px) and (max-width: 1280px){
    .container{
        width: 1020px;
    }
    .menu_column{
        left: calc((100% - 1024px) / 2 + 15px );
    }
}
@media(min-width: 768px) and (max-width: 1024px){
    .container{
        width: 750px;
    }
    .menu_column{
        left: calc((100% - 750px) / 2 + 15px );
    }
}
